@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --font-poppins: 'Poppins', sans-serif;
    --primary-color: #333333;
    --secondary-color: #4F4F4F;
    --tertiary-color: #BDBDBD;
    --light-blue: #2D9CDB;
    --green: #27AE60;
    --red: #E74C3C;
    --smoke-withe: #F2F2F2;
    --footer-background: #100E1D;
}